body {
    padding : 40px
}
.shapeContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.shapeContainer__shape {
    margin:15px;
}
.shapeContainer__shape--square {
    background-color : red;
    transition: background-color 0.25s, height 0.25s, width 0.25s, border-radius 0.25s;
}
.shapeContainer__shape--circle {
    background-color : blue;
    border-radius: 50%;
    transition: background-color 0.25s, height 0.25s, width 0.25s, border-radius 0.25s;
}



